*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   overflow-x: hidden;
   font-family: 'Outfit', sans-serif;
}
h2{
    color: #fff;
}


.flex-container{
    /* border: 2px solid white; */
    flex-direction: column;
    display: flex;
    align-items: left;
    /* justify-content: space-between; */
    background-color: hsl(216, 50%, 16%);
    gap: 1.2rem;
    justify-content: left;
    padding : 1% 1%;
    border-radius: 10px;

}

img{
    border-radius: 10px;
    width: 40vh;
}

.line,.ok2,p{
    color: hsl(215, 51%, 70%);
}

.flex-sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ok{
    color: cyan;
}

.row{
    display: flex;
    justify-content: center;
}
hr{
    height: 0.1px;
    border: 0 none;
    width: 98%;
    background-color: hsl(215, 32%, 27%);
    /* text-align: center; */
}

.flex-sub-container-2{
    display: flex;
    gap: 15px;
    align-items: center;
}

.avatar{
    width : 30px;
}

.try{
    display: flex;
    align-items: center;
    gap: 4px;
}

.try1{
    display: flex;
    gap: 8px;
}

